 @keyframes slideInUp {
   from {
     opacity: 0;
     transform: translateY(100%);
   }

   to {
     opacity: 1;
     transform: translateY(0);
   }
 }

 .animated-heading {
   opacity: 0;
   transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
 }

 .animated-heading.fadeIn {
   animation: slideInUp 0.5s ease-in-out;
   opacity: 1;
   transform: translateY(0);
 }

 #loading-overlay {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.9);
   z-index: 9999;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: opacity 1s ease;
 }

 /* Loading Window CSS */
 .loader {
   width: 65px;
   aspect-ratio: 1;
   position: relative;
 }

 .loader:before,
 .loader:after {
   content: "";
   position: absolute;
   border-radius: 50px;
   box-shadow: 0 0 0 3px inset #ffffff;
   animation: l4 2.5s infinite;
 }

 .loader:after {
   animation-delay: -1.25s;
 }

 @keyframes l4 {
   0% {
     inset: 0 35px 35px 0;
   }

   12.5% {
     inset: 0 35px 0 0;
   }

   25% {
     inset: 35px 35px 0 0;
   }

   37.5% {
     inset: 35px 0 0 0;
   }

   50% {
     inset: 35px 0 0 35px;
   }

   62.5% {
     inset: 0 0 0 35px;
   }

   75% {
     inset: 0 0 35px 35px;
   }

   87.5% {
     inset: 0 0 35px 0;
   }

   100% {
     inset: 0 35px 35px 0;
   }
 }

 .responsive-nav {
   position: relative;
   /* Ensure it respects document flow */
   z-index: 1;
   /* Lower than #loading-overlay */
 }

 .loading-message {
   position: absolute;
   bottom: 35%;
   /* Adjust to place it visually */
   width: 100%;
   text-align: center;
   font-size: 18px;
   font-weight: bold;
   color: #ffffff;
   /* Change color as needed */
 }

 .hidden {
   display: none;
 }

 .no-scroll {
   overflow: hidden;
   /* Prevents scrolling on the main page */
 }